<main>
  <h1>Zoom Meeting SDK Sample Angular</h1>

  <!-- For Component View -->
  <div id="meetingSDKElement">
    <!-- Zoom Meeting SDK Component View Rendered Here -->
  </div>


  <button (click)="getLiveMeeting()">Get Meeting</button>
  <button (click)="getSignature()">Join Meeting</button>
  <button (click)="createMeeting()">Create Meeting</button>
</main>
